#userInfo{
	line-height:30px;
}
#userInfo:hover{
	text-decoration: underline;
	cursor:pointer;
}
#usercard{
	border: 1px solid #B3DAFF;
	border-right: 1px solid #B3DAFF;
    width: 352px;
    height:136px;
    background:#F7FCFF;
    position: absolute;
    z-index:999;
    border-radius:3px;
}
#usercard .uc-l{
	float:left;
	width:100px;
	color:#116ec2;
	padding:8px 3px;
	text-align:center;
	line-height:30px;
}
.uc-l .pic{
	border:1px #DDD solid;
	box-shadow:1px 1px 3px #deeeff
}
.uc-l a{
	text-decoration:none;
}
#usercard .uc-r{
	color:#000000;
	float:left;
	width:244px;
	overflow:hidden;
	height:136px;
}
.uc-r .uc-items{
	text-align:left;
	line-height:24px;
	witdth:238px;
	
}
