.operator{
	line-height:28px;
	cursor:pointer;
	display:block;
}
.engineer{
	line-height:28px;
	cursor:pointer;
	display:block;
}
#infoPanel {
	border: 1px solid #B3DAFF;
	border-right: 1px solid #B3DAFF;
	width: 352px;
	height: 136px;
	background: #F7FCFF;
	position: absolute;
	z-index: 999;
	border-radius: 3px;
	font-size: 14px;
	text-decoration: none!;
	cursor:default;
}

#infoPanel .op-l {
	float: left;
	width: 100px;
	color: #116ec2;
	padding: 8px 3px;
	line-height: 30px;
}

.op-l .pic {
	border: 1px #DDD solid;
	box-shadow: 1px 1px 3px #deeeff
}

.op-l a {
	text-decoration: none;
}

#infoPanel .op-r {
	color: #000000;
	float: left;
	width: 224px;
	overflow: hidden;
	height: 126px;
	padding-left: 10px;
	padding-top: 10px;
}

.op-r .op-items {
	text-align: left;
	line-height: 24px;
	text-decoration: none;
}

form {
	margin: 0px;
	padding: 0px;
}